$color_black: #000;
$color_white: #fff;

$color_grey_0: #efefef;
$color_grey_1: #cccccc;
$color_grey_2: #4c4c4c;

$color_green_0: #0a8035;
$color_green_1: #e7f2eb;

$color_red_0: #e00034;
$color_red_1: #f5e7ea;

$breakpoint_md: 768px;
$breakpoint_lg: 1024px;

$spacing_1: .25rem;
$spacing_2: .5rem;
$spacing_3: 1rem;
$spacing_4: 1.5rem;
$spacing_5: 2rem;
$spacing_6: 2.5rem;
$spacing_7: 3rem;
$spacing_8: 3.5rem;
$spacing_9: 4rem;
$spacing_10: 5rem;
