$colors: (
  'black': #000,
  'white': #fff,
  'grey-0': #efefef,
  'grey-1': #cccccc,
  'grey-2': #4c4c4c,
  'green-0': #0a8035,
  'green-1': #e7f2eb,
  'red-0': #e00034,
  'red-1': #f5e7ea,
);

$breakpoints: (
  'md': 768px,
  'lg': 1024px
);

$spacings: (
  1: .25rem,
  2: .5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 2.5rem,
  7: 3rem,
  8: 3.5rem,
  9: 4rem,
  10: 5rem,
)