@use './variables' as *;

:root {
  --color-black: $color_black;
  --color-white: $color_white;
  --color-grey-0: $color_grey_0;
  --color-grey-1: $color_grey_1;
  --color-green-0: $color_green_0;
  --color-green-1: $color_green_1;
  --color-red-0: $color_red_0;
  --color-red-1: $color_red_1;
  --breakpoint-md: $breakpoint_md;
  --breakpoint-lg: $breakpoint_lg;
  --spacing-1: $spacing_1;
  --spacing-2: $spacing_2;
  --spacing-3: $spacing_3;
  --spacing-4: $spacing_4;
  --spacing-5: $spacing_5;
  --spacing-6: $spacing_6;
  --spacing-7: $spacing_7;
  --spacing-8: $spacing_8;
  --spacing-9: $spacing_9;
  --spacing-10: $spacing_10;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.section {
  height: 100vh;
}