.videos-sequence {
  width: 100%;
  // height: calc(100vh + var(--scrollableHeight));
  position: relative;
  color: white;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &--current {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
  }
}