@use '../../styles/variables' as *;

.horizontal-scroller {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  transform: translateX(var(--horizontal-scroller-translate));
  overscroll-behavior: none;

  &-viewport {
    height: var(--horizontal-scroller-height);
    position: relative;
    background: linear-gradient(135deg, map-get($colors, 'black') 40%, map-get($colors, 'red-0'));

    &__inner {
      position: sticky;
      top:0;
      left:0;
      overflow: hidden;
    }
  }

  > .section {
    flex-shrink: 0;
    color:  map-get($colors, 'white');
  }
}