.section-title {
  --mainTitleSize: clamp(2.5rem, 6vw, 4.75rem);
  --vPadding: var(--mainTitleSize);

  width: 50%;
  padding: var(--vPadding) 0;
  margin: 0 auto;
  text-align: center;
  mask-image: linear-gradient(
    to bottom,
    #0000,
    #000 var(--vPadding),
    #000 calc(100% - var(--vPadding)),
    #0000);

  &-wrapper {
    transition: transform 1s ease-in-out;
    
    .section-title--translateY & {
      animation: 2.5s cubic-bezier(0.25, 1, 0.5, 1) forwards translateY;
    }

    .video-on-scroll__content--fade-out & {
      animation: none;
      transform: translateY(-150%);
    }
  }

  &__main-title {
    padding: 0;
    margin: 0;
    font-size: clamp(2.5rem, 6vw, 4.75rem);
    text-transform: uppercase;
    line-height: 1.2;

    .section-title--glowing & {
      // background: linear-gradient(
      //   to right,
      //   #fff,
      //   #fff5 .5em,
      //   #fff5 1.5em,
      //   #fff 2em,
      //   #fff);
      // background-size: 200% 100%;
      // background-position-x: 10%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // animation: 3.2s cubic-bezier(0.25, 1, 0.5, 1) .5s forwards glowing;
      background: linear-gradient(90deg, transparent, #fff, transparent);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: glowing-2 4s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }

  @keyframes translateY {
    from {
      opacity: 0;
      transform: translateY(50%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes glowing {
    from {
      background-position-x: 10%;
    }

    to {
      background-position-x: -110%;
    }
  }

  @keyframes glowing-2 {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
}