.word-highlight {
  display: inline-block;
  position: relative;
  margin-left: .5em;
  margin-right: 1em;

  svg {
    position: absolute;
    width: calc(100% + 1em);
    height: calc(100% + .2rem);
    top: -.1rem;
    left: -.5rem;
    z-index: -1;
    stroke-dasharray: var(--path-length);
    stroke-dashoffset: var(--path-length);
    animation: draw 2s forwards;
  }

  &__interactive-dot {
    display: block;
    position: absolute;
    width: .6em;
    height: .6em;
    right: -.5em;
    top: 50%;
    background: linear-gradient(to right, #CC00FF, #FF00A8);
    border-radius: 50%;
    transform: scale(0);
    animation: dotAppear .3s 1.5s forwards ease-in;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dotAppear {
    to {
      transform: scale(1)
    }
  }
}